<br >
<% @posts.each do |post| %>
	<div>Recepient Name: <%= post.title %></div>
	<div>Recepient Number: <%= truncate(post.body, :lenght => 35)%>
	<div>Amount: <%= post.user_amount %>
	</div>
	<div>You are logged in as: <%= post.user.email %></div>
	
	<%= link_to "Read Request", post %>
	<%= link_to "Send Cash", post %>
	<br>
<br>
<br>
<% end %>
