<%= render 'layouts/navbar_dash' %>

<div class="container">
	<div class="row pay_quick_info">
		<div class="col-sm-6">
			<div class="payment_btn">
					<!--<a class="btn btn-danger btn-lg" href="#" role="button"><i class="fa fa-plus"></i><%= link_to "New Payment ", new_post_path %> -->

						<%= button_to "New Payment", new_post_path, :class => "button", :method => :get  %><br />

					</a>
			</div>
		</div>
			<div class="col-sm-6">
				<h3>Balance <span>ksh 100,000</span></h3>

			</div>	
	</div>

	<div class="row">
			<div class="search_box">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">GO!</button>
					</span>
					<input type="text" class="form-control" placeholder="Search for recent transactions">

					<br>
					<br>
					<br>

					<div class="row">
			<h4>Payment History</h4><br>

			<% @posts.each do |post| %>
	<div>Recepient Name: <%= post.title %></div>
	<div>Recepient Number: <%= truncate(post.body, :lenght => 35)%>
	<div>Amount: <%= post.user_amount %>
	</div>
	<div>You are logged in as: <%= post.user.email %></div>
	
	<%= link_to "View Request", post %>
	<!-- <%= link_to "Send Cash", post %> -->
	<% end %>

	</div>


				</div>
			</div>
	</div>

	

	<div class="row">
		<div class="pay_up_0">
			<p>Welcome to pay PayUp</p>
			<p>Looks like you have no new Transactions</p>
		</div>	
	</div>
</div>