<!DOCTYPE html>
<html>
<head>
  <title>NIM$</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>
  
</head>
<body>

<% if user_signed_in? %>
<!--
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <%= link_to "Home", root_path %>
<%= link_to "New Payment", new_post_path %>        
  </li>
-->
<% else %> 
<!--
  <li>
     
  <%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

  </li>
  -->
<% end %> 



<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
